/* ==================
   Table Of Contents
====================

1- Left Section => Buttons
2- Right Section => Cards
3- Responsive Design
*/

main {
  padding: 80px 0;
}

main .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 30px;
}

/* ===============================   
    1- Left Section => Buttons
==================================  */

main section.laft-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

main section.laft-section button {
  font-size: 1.2rem;
  text-transform: capitalize;
  background-color: var(--secondary);
  width: 180px;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 0.3rem;
  opacity: 0.7;
  cursor: pointer;
  transition: 0.3s;
}

main section.laft-section button:first-child:hover {
  transform: translate(-10px);
}
main section.laft-section button:not(:first-child):hover {
  transform: translateY(-10px);
}
main section.laft-section button:last-child:hover {
  transform: translate(10px);
}

main section.laft-section button.active {
  font-weight: bold;
  border: 1px solid var(--blue);
  scale: 1.03;
  opacity: 1;
}

main section.laft-section button:hover {
  opacity: 1;
}

/* ===============================   
    2- Right Section => Cards
==================================  */
main section.right-section {
  flex-grow: 1;
 
}

main section.right-section .cards {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

main section.right-section .cards .card {
  /* width: 340px; */
  border-radius: 12px;
  overflow: hidden;
  background: linear-gradient(var(--card-grad-start), var(--card-grad-end));
  box-shadow: 0 0 1px var(--blue);
  transition: 0.3s;
  cursor: pointer;
  
}

main section.right-section .cards .card:hover {
  rotate: 1deg;
  scale: 1.03;
  box-shadow: 0 0 4px var(--blue);
}

main section.right-section .cards .card img {
  width: 100%;
}

main section.right-section .cards .card .box {
  padding: 1rem;
}

main section.right-section .cards .card .box h3 {
  margin-bottom: 12px;
  color: var(--title);
  font-size: 1.6rem;
}

main section.right-section .cards .card .box p {
  color: var(--subtitle);
  margin-bottom: 12px;
}

main section.right-section .cards .card .box .footer-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main section.right-section .cards .card .box .footer-card .icon {
  font-size: 2rem;
}

main section.right-section .cards .card .box .footer-card .more {
  display: flex;
  align-items: center;
  gap: 2px;
  color: var(--blue);
}

main section.right-section .cards .card .box .footer-card .more .icon-arrow {
  color: var(--blue);
}

/* ===============================   
    3- Responsive Design
==================================  */

@media (max-width: 664px) {
  main section.laft-section button {
    width: 140px;
    padding: 1rem 1.2rem;
  }
}
