footer{
    padding: 80px 0;
    display: flex;
    justify-content: center;
}

footer div{
    font-size: 1.2rem;
    color: var(--subtitle);
}

footer div span{
    font-weight: 800;
    color: var(--blue);
}

@media (max-width: 664px) {
    footer{
        padding: 40px 0;
    }
}