@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import "tailwindcss";



* {
  text-decoration: none;
  list-style: none;
}

/* ===== Dark Mode (Default) ===== */
:root {
  --bg-dark: oklch(0.1 0 273);
  --bg: oklch(0.15 0 273);
  --bg-light: oklch(0.2 0 273);
  --text: oklch(0.96 0 273);
  --text-muted: oklch(0.76 0 273);
  --highlight: oklch(0.5 0 273);
  --border: oklch(0.4 0 273);
  --border-muted: oklch(0.3 0 273);
  --primary: oklch(0.76 0.1 273);
  --secondary: oklch(0.76 0.1 93);
  --danger: oklch(0.7 0.05 30);
  --warning: oklch(0.7 0.05 100);
  --success: oklch(0.7 0.05 160);
  --info: oklch(0.7 0.05 260);
}

/* ===== Light Mode ===== */
.light {
  --bg-dark: oklch(0.92 0 273);
  --bg: oklch(0.96 0 273);
  --bg-light: oklch(1 0 273);
  --text: oklch(0.15 0 273);
  --text-muted: oklch(0.4 0 273);
  --highlight: oklch(1 0 273);
  --border: oklch(0.6 0 273);
  --border-muted: oklch(0.7 0 273);
  --primary: oklch(0.4 0.1 273);
  --secondary: oklch(0.4 0.1 93);
  --danger: oklch(0.5 0.05 30);
  --warning: oklch(0.5 0.05 100);
  --success: oklch(0.5 0.05 160);
  --info: oklch(0.5 0.05 260);
}

.light{

  background-image: url("bg-light.svg");
}

.dark{
   background-image: url("bg.svg");
}

button {
  cursor: pointer;
}

body {
  background-color: var(--bg-dark);
  font-family: "Roboto Slab", serif;
  transition: 0.6s;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}



.divider {
  border-bottom: 1px solid var(--border);
}

.first-view-screen {
  background-position: center;
  background-size: cover;
}

.header-section {
  margin: 0px auto 80px;
  width: fit-content;
  font-size: 3.5rem;
  color: var(--text);
}

.scrollToUp {
  position: fixed;
  bottom: 2rem;
  right: 3%;
  background-color: var(--blue);
  width: 2.8rem;
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.scrollToUp:hover {
  transform: translateY(-5px);
}

@media (max-width: 991px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 664px) {
  html {
    font-size: 12px;
  }

  .scrollToUp {
    opacity: 0.5;
  }
}
