/* ==================
   Table Of Contents
====================

1- Header Design
2- Icons
3- Modal
4- Media Quary
*/

/* ======================= 
    1- Header Design
========================== */
header{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999999999999999999999999999;
  padding: 10px 0;
  border-radius: 0 0 20px 20px;
  /* backdrop-filter: blur(10px); */
}


header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo{
  font-size: 2.3rem;
  font-weight: 600;
  color: var(--accent);
  cursor: pointer;
}

header nav ul {
  position: relative;
  display: flex;
  gap: 2rem;
}

header nav {
  background-color: var(--nav-bg);
  padding: 1rem 1.6rem;
  border-radius: 3rem;
}

header nav a {
  font-size: 1.2rem;
  transition: .3s;
}

header nav a:hover{
  color: var(--blue);
}

/* ==============
    2- Icons
=================*/
header .menu {
  display: none !important;
}

header .mode,
header .menu {
  background-color: var(--nav-bg);
  height: 2.7rem;
  width: 2.7rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  cursor: pointer;
  box-shadow: 0 0 4px var(--blue);
  transition: 0.3s;
}

header .mode:hover,
header .menu:hover {
  opacity: 1;
  box-shadow: 0 0 6px var(--blue);
  scale: 0.9;
}

header nav .close-menu {
  display: none !important;
  cursor: pointer;
}

header nav .close-menu-icon {
  font-size: 2rem;
}

header .sun-icon{
  color: orange;
}



/* ===============
    3- Modal
================== */

header nav.modal {
  display: none !important;
}

/* =====================
    4- Media Quary
======================== */

@media (max-width: 854px) {
  header .menu {
    display: flex !important;
  }

  header nav .close-menu {
    display: block !important;
    position: absolute;
    top: 3%;
    right: 3%;
  }

  header nav {
    display: none;
  }

  header nav.modal {
    display: block !important;
    all: unset;
      position: absolute;
      background-color: var(--modal-overlay);
    inset: 0;
    height: 100vh;
    z-index: 9999999;
  }

    header nav.modal ul {
    width: 80%;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;
       background-color: var(--modal-panel);
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  header nav.modal a {
    display: block;
    padding-top: 10px;
    transition: 0.3s;
  }

  header nav.modal a:hover {
    padding-left: 5px;
  }
}
