section.services {
  padding: 80px 0;
}

section.services .container .plyr__video-wrapper {
  border: 4px solid var(--blue);
  border-radius: 15px;
}

section.services .container h5{
    margin: 30px auto 0;
    width: fit-content;
    font-size: 2rem;
    color: var(--title);

}
section.services .container h5 span{
    color: var(--blue);
}